<mat-toolbar>
    <button mat-icon-button aria-label="Example icon-button with menu icon">
        <mat-icon>restaurant</mat-icon>
    </button>
    <span>{{ title }}</span>
    <button mat-button color="primary">My Recipes</button>
    <button mat-button color="primary">Shopping List</button>
    <span class="example-spacer"></span>
    <!-- <button mat-icon-button aria-label="Example icon-button with heart icon">
        <mat-icon>account_circle</mat-icon>
    </button> -->
    <button mat-icon-button aria-label="Login icon">
        <mat-icon>login</mat-icon>
    </button>
</mat-toolbar>